---
title: "Home"
layout: default
---

{% include home.html %}
<!-- {% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="Posts" %}
{% endif %} -->

<div id="image-grid" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px;">

  <script>
  // 이미지 데이터 배열
  const images = [
    { link: "https://yeonghyeon.github.io/travel_europe_zurich1/", src: "/images/2024-02_Europe/240216_Zurich/IMG_6299.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_zurich2/", src: "/images/2024-02_Europe/240217_Zurich/IMG_6371.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_jungfraujoch/", src: "/images/2024-02_Europe/240218_Jungfraujoch/IMG_6709.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_leman/", src: "/images/2024-02_Europe/240219_Leman/IMG_6832.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_zermatt/", src: "/images/2024-02_Europe/240221_Zetmatt/IMG_7170.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_colosseo/", src: "/images/2024-02_Europe/240229_Rome/IMG_8049.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_milan/", src: "/images/2024-02_Europe/240223_Milan/IMG_7368.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_sirmione/", src: "/images/2024-02_Europe/240224_Sirmione/IMG_7434.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_firenze-pisa/", src: "/images/2024-02_Europe/240225_Firenze_Pisa/IMG_7535.jpeg" },
    { link: "https://yeonghyeon.github.io/travel_europe_firenze2/", src: "/images/2024-02_Europe/240227_Firenze/IMG_7763.jpeg" }
  ];
  
  // 배열을 랜덤하게 섞는 함수 (Fisher-Yates 알고리즘)
  function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]]; // 요소 교환
    }
    return array;
  }
  
  // 랜덤 섞기 적용
  const shuffledImages = shuffleArray(images);
  
  // DOM에 이미지 추가
  const grid = document.getElementById('image-grid');
  shuffledImages.forEach(image => {
    const div = document.createElement('div');
    div.style.textAlign = "center";
    div.style.border = "0px solid #ddd";
    div.style.padding = "0px";
    div.style.overflow = "hidden";
  
    div.innerHTML = `
      <div style="width: 100%; aspect-ratio: 1 / 1; overflow: hidden;">
        <a href="${image.link}" target="_blank">
          <img src="${image.src}" 
               style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
        </a>
      </div>
    `;
    grid.appendChild(div);
  });
  </script>

</div>
